*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: unset;
    list-style: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

header{
    background-image: url('../images/day.jpeg');
    height: 300px;
    background-position:center;
    background-size: cover;
}

img.social{
    width: 30px;
    margin: 0px 10px;
}

footer{
    background-color:silver;
    color:slateblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    width: 100vw;
}